In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('Brd_Regi_List.csv')
df1 = pd.read_csv('Tort_19_20.csv')

In [14]:
# marge two file on Reg
dfm =pd.merge(df,df1,on='Reg',how='outer')

In [15]:
#convert csv new file
dfm.to_csv("final01.csv")

In [16]:
dfm

,BSL,Name,Reg,Gender,Group,Father Name,Mother Name,Sub1,Sbu2,Sub2,...,Sub3,Sbu4,Sub4,Sbu5,4th,SId,Board,S_Name,F_Name,M_Name
0,253.0,ASMAUL HUSNA PRAPTI,1.517794e+09,FEM.,BS,MD. AHASAN HABIB,SHAMIMA HABIB,239.0,240.0,253.0,...,277.0,278.0,286.0,287.0,239.0,2190026.0,Dinajpur,ASMAUL HUSNA PRAPTI,MD. AHASAN HABIB,SHAMIMA HABIB
1,254.0,NUZHAT FATIMA BOISHAKHI,1.610879e+09,FEM.,BS,MD. RAJIMUL HAQUE,SHIREEN MOMOTAJ,239.0,240.0,253.0,...,277.0,278.0,286.0,287.0,239.0,2190028.0,Dhaka,NUZHAT FATIMA BOISHAKHI,MD. RAJIMUL HAQUE,SHIREEN MOMOTAJ
2,255.0,MOSSAMAT NUSAIBA ISLAM,1.614200e+09,FEM.,BS,MD. NAZRUL ISLAM,MOSSAMAT YESMIN ARA PARVIN,239.0,240.0,253.0,...,277.0,278.0,286.0,287.0,239.0,2190002.0,Chittagong,MOSSAMAT NUSAIBA ISLAM,MD. NAZRUL ISLAM,MOSSAMAT YESMIN ARA PARVIN
3,256.0,SAIMA SHARMIN MONISHA,1.617693e+09,FEM.,BS,AZAD KALAM,NURUN NAHAR REMA,239.0,240.0,253.0,...,277.0,278.0,286.0,287.0,239.0,2190001.0,Dinajpur,SAIMA SHARMIN MONISHA,AZAD KALAM,NURUN NAHAR REMA
4,258.0,ZARIN TASNIM,1.617742e+09,FEM.,BS,A. K. M. ZAHANGIR ALAM,MOST. SABINA YESMIN,239.0,240.0,253.0,...,277.0,278.0,286.0,287.0,239.0,2190008.0,Dinajpur,ZARIN TASNIM,A. K. M. ZAHANGIR ALAM,MOST. SABINA YESMIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,NaN,NaN,1.517763e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1190261.0,Dinajpur,MST. SAIMA KHATUN,MD. SAIFUL ALAM,SABERA KHATUN
298,NaN,NaN,1.617752e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2190012.0,Dinajpur,IFFAT SHARMIN DOLA,MD. DARBESH ALI,AYSHAKHATUN
299,NaN,NaN,1.617805e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2190024.0,Dinajpur,MD. TAWFFIQUZZAMAN UZZAL,MD. MONSUR ALI,NUR NAHAR PARUL
300,NaN,NaN,1.617811e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2190031.0,Dinajpur,JAHANA SINMIN,S. M. JAHANGIR ALAM,MST. NARGIS AKTER
301,NaN,NaN,1.617742e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2190032.0,Dinajpur,SUMAYA AFRIN,MD. ASHRAFUL ALAM,SABINAYEASMIN

In [17]:
df2 = pd.read_csv('HSC21_Acc.csv')

In [18]:
dff =pd.merge(dfm,df2,on='SId',how='outer')

In [19]:
dff.to_csv("final.csv")

In [20]:
dff

,BSL,Name,Reg,Gender,Group,Father Name,Mother Name,Sub1,Sbu2,Sub2,...,4th,SId,Board,S_Name,F_Name,M_Name,Name_B,Coata,GrpId,Remarks
0,253.0,ASMAUL HUSNA PRAPTI,1.517794e+09,FEM.,BS,MD. AHASAN HABIB,SHAMIMA HABIB,239.0,240.0,253.0,...,239.0,2190026.0,Dinajpur,ASMAUL HUSNA PRAPTI,MD. AHASAN HABIB,SHAMIMA HABIB,AvmgvDj �mbv c�vw�,NaN,C-026,NaN
1,254.0,NUZHAT FATIMA BOISHAKHI,1.610879e+09,FEM.,BS,MD. RAJIMUL HAQUE,SHIREEN MOMOTAJ,239.0,240.0,253.0,...,239.0,2190028.0,Dhaka,NUZHAT FATIMA BOISHAKHI,MD. RAJIMUL HAQUE,SHIREEN MOMOTAJ,byRnvZ dvwZgv,NaN,C-028,NaN
2,255.0,MOSSAMAT NUSAIBA ISLAM,1.614200e+09,FEM.,BS,MD. NAZRUL ISLAM,MOSSAMAT YESMIN ARA PARVIN,239.0,240.0,253.0,...,239.0,2190002.0,Chittagong,MOSSAMAT NUSAIBA ISLAM,MD. NAZRUL ISLAM,MOSSAMAT YESMIN ARA PARVIN,bymvBev Bmjvg,NaN,C-002,NaN
3,256.0,SAIMA SHARMIN MONISHA,1.617693e+09,FEM.,BS,AZAD KALAM,NURUN NAHAR REMA,239.0,240.0,253.0,...,239.0,2190001.0,Dinajpur,SAIMA SHARMIN MONISHA,AZAD KALAM,NURUN NAHAR REMA,mvqgv kviwgb,NaN,C-001,NaN
4,258.0,ZARIN TASNIM,1.617742e+09,FEM.,BS,A. K. M. ZAHANGIR ALAM,MOST. SABINA YESMIN,239.0,240.0,253.0,...,239.0,2190008.0,Dinajpur,ZARIN TASNIM,A. K. M. ZAHANGIR ALAM,MOST. SABINA YESMIN,�Rwib Zvmwbg,NaN,C-008,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1190280.0,NaN,NaN,NaN,NaN,�gvt Bqvwmi AvivdvZ,NaN,S-280,wUwm fwZ�
321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1190281.0,NaN,NaN,NaN,NaN,�gvt mvBd Avj mvwd,wk��Ki �KvUv,S-281,wUwm fwZ�
322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2190033.0,NaN,NaN,NaN,NaN,�gvQvt Rvb�vwZ Avd�ivR,we�vb n�Z AvbxZ,C-033,NaN
323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2190034.0,NaN,NaN,NaN,NaN,�gvt weeZ�b,NaN,C-034,wUwm
324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2190035.0,NaN,NaN,NaN,NaN,gvnvgy`yi ingvb nvwmd,NaN,C-035,NaN